<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centered Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <style>
    /* Prevent scrollbar */
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      font-family: 'Poppins', sans-serif; /* Default font */
    }
  </style>
</head>
<body>


  <div class="container">
    <div class="welcome-text">
      <span class="primary-text">Join class</span>
    </div>

    <input type="code" class="input-field code-input" placeholder="Code">
    <input type="name" class="input-field name-input" placeholder="Enter your name">


    <a href="/joinclass" class="join-btn">Join</a>
   

  </div>
</body>
</html>
